.center {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: 70%;
    margin: -25px 0 0 -25px;
 }

.panel-body {
    max-height: 200px;
    max-width: 400px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.panel-primary {
    max-width: 400px;
    margin-left: 200px;
}